/hyprland/.config/hypr/monitors.conf
/hyprland/.config/hypr/monitors.lua
/hyprland/.config/hypr/workspaces.conf
/hyprland/.config/hypr/workspaces.lua

# colors
/hyprland/.config/hypr/colors.conf
/hyprland/.config/hypr/colors.lua
/ghostty/.config/ghostty/themes/iris
