@import "rose-pine.css";

* {
  border: none;
  border-radius: 0px;
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: @text;
}

box.horizontal,
window#waybar {
  background: transparent;
  margin: 2.5px;
}

tooltip {
  border-radius: 10px;
  background-color: @surface;
}

*:hover {
  border-radius: 10px;
  background-color: @overlay;
}

menuitem {
  border-radius: 10px;
}

button,
decoration {
  border-radius: 10px;
  background-color: @surface;
}

menu {
  border-radius: 10px;
  background-color: @surface;
}

#workspaces,
#window,
#pulseaudio,
#memory,
#cpu,
#temperature,
#battery,
#clock,
#keyboard-state,
#tray,
#custom-notifications {
  background-color: @surface;
  border-radius: 10px;
  margin: 1px;
}

#window,
#pulseaudio,
#memory,
#cpu,
#temperature,
#battery,
#clock,
#keyboard-state,
#tray,
#custom-notifications {
  padding-right: 10px;
  padding-left: 10px;
}


#pulseaudio {
  color: @gold;
}


#temperature {
  color: @gold;
}


#custom-notifications {
  color: @pine;
}


#battery.charging {
  color: @pine;
}

@keyframes blink {
  to {
    background-color: @text;
  }
}

#battery.warning:not(.charging) {
  color: @gold;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  color: @love;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#workspaces button {
  background-color: @overlay;
  border-radius: 7.5px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 4px 2px;
  transition: padding .1s, background-color .5s;
  min-height: 0;
}

#workspaces button.active {
  /*background-color: @pine;*/
  padding-right: 20px;
  padding-left: 20px;
}

#workspaces {
  background-color: @surface;
  padding-right: 2px;
  padding-left: 2px;
}

#workspaces button:hover {
  background-color: @muted;
}

#workspaces button.urgent {
  background-color: @gold;
  color: @overlay;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @gold;
}
