@import '../../.cache/iris/colors-waybar.css';

* {
  border: none;
  border-radius: 0px;
  font-family: FontAwesome, JetBrainsMono Nerd Font Mono, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

box.horizontal > window#waybar,
window#waybar {
  background: transparent;
  margin: 2.5px;
  color: @fg;
}

window#waybar {
  background: @surface;
  margin-top: 0;
  margin-bottom: 0;
}

tooltip {
  background-color: @surface;
}

*:hover {
  background-color: @dim;
  color: @fg;
}

menuitem {
  border-radius: 10px;
}

button,
decoration {
  border-radius: 10px;
  background-color: @surface;
}

menu {
  border-radius: 10px;
  background-color: @surface;
}

#workspaces,
#window,
#wireplumber,
#pulseaudio,
#memory,
#cpu,
#temperature,
#battery,
#clock,
#keyboard-state,
#tray,
#mpris,
#privacy,
#custom-notifications {
  margin: 0 1px;
}

#window,
#wireplumber,
#pulseaudio,
#memory,
#cpu,
#temperature,
#battery,
#clock,
#keyboard-state,
#tray,
#mpris,
#privacy,
#idle_inhibitor,
#custom-notifications {
  padding-right: 10px;
  padding-left: 10px;
}


#wireplumber,
#pulseaudio {
  color: @yellow;
}


#temperature {
  color: @yellow;
}


#custom-notifications {
  color: @accent;
}


#battery.charging {
  color: @green;
}

@keyframes blink {
  to {
    background-color: @fg;
  }
}

#battery.warning:not(.charging) {
  color: @yellow;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#workspaces button {
  border-radius: 0;
}

#workspaces button.active {
  background-color: @accent;
  color: @bg;
}

#workspaces {
  margin: 0;
}

#workspaces button:hover {
  background-color: @dim;
}

#workspaces button.urgent {
  background-color: @yellow;
  color: @dim;
}


#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @yellow;
}
