@import "rose-pine.css";

* {
  border: none;
  border-radius: 0px;
  font-family: FontAwesome, JetBrainsMono Nerd Font Mono, Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: @text;
}

box.horizontal > window#waybar,
window#waybar {
  background: transparent;
  margin: 2.5px;
}

window#waybar {
  background: @surface;
  margin-top: 0;
  margin-bottom: 0;
}

tooltip {
  background-color: @surface;
}

*:hover {
  background-color: @overlay;
}

menuitem {
  border-radius: 10px;
}

button,
decoration {
  border-radius: 10px;
  background-color: @surface;
}

menu {
  border-radius: 10px;
  background-color: @surface;
}

#workspaces,
#window,
#wireplumber,
#pulseaudio,
#memory,
#cpu,
#temperature,
#battery,
#clock,
#keyboard-state,
#tray,
#mpris,
#privacy,
#custom-notifications {
  margin: 0 1px;
}

#window,
#wireplumber,
#pulseaudio,
#memory,
#cpu,
#temperature,
#battery,
#clock,
#keyboard-state,
#tray,
#mpris,
#privacy,
#custom-notifications {
  padding-right: 10px;
  padding-left: 10px;
}


#wireplumber,
#pulseaudio {
  color: @gold;
}


#temperature {
  color: @gold;
}


#custom-notifications {
  color: @pine;
}


#battery.charging {
  color: @pine;
}

@keyframes blink {
  to {
    background-color: @text;
  }
}

#battery.warning:not(.charging) {
  color: @gold;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  color: @love;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#workspaces button {
  border-radius: 0;
  min-height: 0;
}

#workspaces button.active {
  background-color: @pine;
}

#workspaces {
  margin: 0;
}

#workspaces button:hover {
  background-color: @muted;
}

#workspaces button.urgent {
  background-color: @gold;
  color: @overlay;
}


#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @gold;
}

#clock {
  font-size: 8px;
}
